<%-include("partials/header.ejs")%>
<h1>About Me</h1>
<img class="profile" src="../images/me.jpg" alt="cat profile">
<p>Hi, I am Vaibhav Mahajan a 20-year-old boy from the small town of Katol in Nagpur district. Currently, I am pursuing a BTech in
  Artificial Intelligence and Data Science at Yashwantrao Chavan College of Engineering, Nagpur, which is under RTMNU
  (university).I understand that mastering every skill is challenging, but gaining a basic understanding of various skills is
  valuable to me. Despite exploring other areas, my primary focus remains on data science.This summarizes my journey as a Bachelor of Engineer student, always striving to learn and grow in various domains.
</p>


<%-include("partials/footer.ejs")%>