<%- include("partials/header.ejs") %>

  <h1>Home Page</h1>
  <br><br><br>
  <p>
    A passionate BTech student specializing in Artificial Intelligence and Data Science at YCCE, Nagpur. I'm on a journey to become a data scientist, combining my love for statistics, machine learning, and problem-solving. While my heart lies in data science, I'm also expanding my horizons in web development and DSA to build a versatile skill set for the evolving tech landscape.
  </p>
  <p>
    Currently exploring the intersections of AI, data analysis, and software development. Let's connect and create something amazing together!
  </p>

  <%- include("partials/footer.ejs") %>